.filter {
  background-color: white;
}

.filter_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter_heading {
  border-right: 1px solid black;
}

.filter_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}

.filter_title > label {
  margin-bottom: 2px;
}

.filter_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}

.filter_date > label {
  margin: 10px 0;
}

.filter_date_container {
  display: flex;
  color: black;
}

.filter_date_container > label,
input {
  margin: 0 10px;
}

.filter_submit {
  height: 80%;
}
