.main_container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.main_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count_container {
  margin: 10px auto;
  background-color: beige;
  color: black;
  text-align: center;
}

.bikes_container {
  margin-top: 20px;
  width: 80%;
}

.no_bikedata {
  margin: 100px;
  text-align: center;
}
